**Print 'M' using '*'**

In [20]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or (row==col and col<4) or (row==2 and col==4) or (row==1 and col==5):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

*           *
* *       * *
*   *   *   *
*     *     *
*           *
*           *
*           *

**Print 'N' using '*'**

In [22]:
for row in range(7):
    for col in range(7):
        if col==0 or col==6 or row==col:
            print('*',end=' ')
        else:
            print(end='  ')
    print()

*           *
* *         *
*   *       *
*     *     *
*       *   *
*         * *
*           *

**Print 'O' using '*'**

In [26]:
for row in range(7):
    for col in range(5):
        if ((col==0 or col==4) and (row>0 and row<6)) or ((row==0 or row==6) and (col>0 and col<4)):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

  * * *
*       *
*       *
*       *
*       *
*       *
  * * *

**Print 'P' using '*'**

In [32]:
for row in range(7):
    for col in range(5):
        if col==0 or (col==4 and (row==1 or row==2)) or ((row==0 or row==3) and (col>0 and col<4)):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

* * * *
*       *
*       *
* * * *
*
*
*

**Print 'Q' using '*'**

In [56]:
for row in range(8):
    for col in range(5):
        if ((col==0 or col==4) and (row>0 and row<6)) or ((row==0 or row==6) and (col>0 and col<4)) or (row==5 and col==1) or (row==7 and col==3):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

  * * *
*       *
*       *
*       *
*       *
* *     *
  * * *
      *

**Print 'R' using '*'**

In [68]:
for row in range(7):
    for col in range(5):
        if col==0 or ((col==4) and (row!=0 and row!=3)) or ((row==0 or row==3) and (col>0 and col<4)):
            print('*',end=' ')
        else:
            print(end='  ')
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
*       *